* {
  box-sizing: border-box;
  font-family: "Proza Libre", sans-serif;
}

.container {
  background-color: #562b81;
  margin-left: 0;
  padding: 0;
  width: 100%;
}

.background {
  /* min-height: 100vh; */

  /* justify-content: center;
  align-items: center; */
  background-color: rgb(0 0 0 / 70%);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  /* z-index: 20; */
}

.modal {
  background-color: white;
  width: 425px;
  height: 175px;
  position: absolute;
  left: 6%;
  top: 25%;
}

.container-two {
  background-color: #edebed;
  margin-left: 0;
  margin-bottom: 0;
  height: 100%;
  width: 100%;
}

.column-fourth {
  width: calc(100%/4);
}

.column-third {
  width: calc(100%/3);
}

.column-half {
  width: calc(100%/2);
}

.column-eigth {
  width: calc(200%/2);
}

.row {
  display: flex;
}

img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  margin-left: 10px;
}

header {
  height: 50px;
}

h2 {
  color: white;
  font-family: "Proza Libre", sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  padding-top: 10px;
}

.top {
  font-size: 30px;
  font-weight: 600;
  margin-left: 10px;
}

.rest {
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
}

.button1 {
  margin-left: 50%;
  margin-top: 15px;
  margin-bottom: 45px;
  background-color: #562b81;
  border-radius: 5px;
  color: white;
  width: 70px;
  height: 40px;
  text-align: center;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.right {
  margin-left: 57%;
}

.entry-width {
  width: 75%;
  height: 80px;
  margin-right: 50px;
  margin-left: 20px;
}

input,
textarea {
  font-family: "Proza Libre", sans-serif;
}

.input-space {
  margin-left: 20px;
  width: 350px;
}

textarea:focus,
input:focus {
  outline: 2px solid #562b81;
}

@media screen and (min-width: 700px) {
  .column-full {
    width: 100%;
  }

  .column-half {
    width: 50%;
  }

  .entry-width {
    width: 83%;
  }

  .button1 {
    margin-right: 125px;
  }

  .pencil-style {
    position: absolute;
    left: 80%;
  }

  .right {
    margin-left: 67%;
  }

  .modal {
    background-color: white;
    width: 500px;
    height: 200px;
    position: absolute;
    left: 23%;
    top: 30%;
  }

  .container-modal {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 70%);
    position: relative;
    top: 0;
    z-index: 20;
  }
}

ul.no-bullets {
  list-style-type: none;
  margin-left: 15px;
  padding: 0;
}

.li-class,
.view {
  font-family: "Proza Libre", sans-serif;
}

.hidden {
  display: none;
}

.button2 {
  border: none;
  display: block;
  text-decoration: none;
  background-color: #562b81;
  border-radius: 5px;
  color: white;
  width: 70px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  margin-top: 22px;
  margin-left: 70%;
  padding-top: 5px;
  cursor: pointer;
}

.p-entry {
  width: 400px;
}

li {
  margin: 20px;
}

.nav {
  color: white;
  text-decoration: none;
  display: block;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 500;
}

.pencil-style {
  margin-left: 100px;
  padding: 20px;
  cursor: pointer;
}

.delete-button {
  font-size: 15px;
  margin-top: 25px;
  margin-right: 100px;
  margin-left: 10px;
  margin-bottom: 45px;
  background: none;
  border: none;
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.delete-absolute {
  position: absolute;
  left: 0;
}

.modal-content {
  color: black;
  text-align: center;
  margin-top: 5%;
}

.centered {
  text-align: center;
}

.cancel-button {
  padding: 10px;
  width: 100px;
  margin-left: 12%;
  margin-top: 25%;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #b6b6b6;
  cursor: pointer;
}

.confirm-button {
  padding: 10px;
  width: 118px;
  margin-left: 40%;
  margin-top: 25%;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #dc2a2a;
  color: white;
  cursor: pointer;
}
