* {
  box-sizing: border-box;
  font-family: "Proza Libre", sans-serif;
}

.container {
  background-color: #562b81;
  margin-left: 0;
  padding: 0;
}

.container-two {
  background-color: #edebed;
  margin-left: 0;
  margin-bottom: 0;
  height: 100%;
}

.column-fourth {
  width: calc(100%/4);
}

.column-third {
  width: calc(100%/3);
}

.column-half {
  width: calc(100%/2);
}

.column-eigth {
  width: calc(200%/2);
}

.row {
  display: flex;
}

img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  margin-left: 10px;
}

header {
  height: 50px;
}

h2 {
  color: white;
  font-family: "Proza Libre", sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  padding-top: 10px;
}

.top {
  font-size: 30px;
  font-weight: 600;
  margin-left: 10px;
}

.rest {
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
}

.button1 {
  margin-top: 15px;
  margin-right: 100px;
  margin-bottom: 45px;
  background-color: #562b81;
  border-radius: 5px;
  color: white;
  width: 70px;
  height: 40px;
  text-align: center;
  font-size: 17px;
  border: none;
}

.right {
  justify-content: right;
}

.entry-width {
  width: 75%;
  margin-right: 50px;
  margin-left: 20px;
}

input,
textarea {
  font-family: "Proza Libre", sans-serif;
}

.input-space {
  margin-left: 20px;
  width: 350px;
}

textarea:focus,
input:focus {
  outline: 2px solid #562b81;
}

@media screen and (min-width: 700px) {
  .column-full {
    width: 100%;
  }

  .column-half {
    width: 50%;
  }

  .entry-width {
    width: 83%;
  }

  .button1 {
    margin-right: 125px;
  }
}

ul.no-bullets {
  list-style-type: none;
  margin-left: 15px;
  padding: 0;
}

.entry-body {
  margin: 10px;
  font-size: 20px;
}

.entry-title {
  font-weight: 600;
  font-size: 25px;
  margin-left: 10px;
}

.view {
  border-width: 1px;
}

.hidden {
  display: none;
}

.button2 {
  border: none;
  background-color: #562b81;
  border-radius: 5px;
  color: white;
  width: 70px;
  height: 40px;
  text-align: center;
  font-size: 17px;
  margin-top: 15px;
  margin-left: 70%;
}

p {
  width: 400px;
}

li {
  margin: 20px;
}

.nav {
  color: white;
  text-decoration: none;
  display: block;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 500;
}
