* {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: flex-start;
  background-color: #562b81;
  margin-left: 0;
}

.container-two {
  background-color: #edebed;
  margin-left: 10px;
}

.column-third,
.column-half,
.column-full {
  padding: 0 0.5rem;
  width: 100%;
}

.row {
  display: flex;
}

img {
  width: 350px;
  height: 350px;
}

header {
  height: 50px;
}

h2 {
  color: white;
  font-family: "Proza Libre", sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  padding-top: 10px;
}

.content-label {
  font-family: "Proza Libre", sans-serif;
}

.top {
  font-size: 30px;
  font-weight: 600;
}

.rest {
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
}

.button {
  margin-top: 15px;
  margin-right: 100px;
  margin-bottom: 45px;
  background-color: #562b81;
  border-radius: 5px;
  color: white;
  width: 70px;
  height: 40px;
  text-align: center;
  font-size: 17px;
}

.right {
  justify-content: right;
}

.entry-width {
  width: 85%;
  margin-right: 50px;
  margin-left: 20px;
}

.input-space {
  margin-left: 20px;
  width: 350px;
}

textarea,
input:required {
  border: 3px solid #562b81;
  border-width: 2px;
}

@media screen and (min-width: 500px) {
  .column-half {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .column-third {
    width: calc(100%/3);
  }
}
